//-
//- caos-frontend - CAOS frontend
//-
//- Copyright © 2016 INFN - Istituto Nazionale di Fisica Nucleare (Italy)
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-     http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//-
//-
//- Author: Fabrizio Chiarello <fabrizio.chiarello@pd.infn.it>
//-

table.table.table-bordered.table-hover
  thead.thead-inverse
    th
      | Project
      .btn-group.pull-right
        button.btn.btn-secondary.btn-xs(type="button", (click)="sort('project.name', true)", [class.active]="is_sorting('project.name', true)")
          i.fa.fa-chevron-down

        button.btn.btn-secondary.btn-xs(type="button", (click)="sort('project.name', false)", [class.active]="is_sorting('project.name', false)")
          i.fa.fa-chevron-up

    th
      | {{ value_label }}
      .btn-group.pull-right
        button.btn.btn-secondary.btn-xs(type="button", (click)="sort('value', true)", [class.active]="is_sorting('value', true)")
          i.fa.fa-chevron-down

        button.btn.btn-secondary.btn-xs(type="button", (click)="sort('value', false)", [class.active]="is_sorting('value', false)")
          i.fa.fa-chevron-up

    th
      | Ratio
      .btn-group.pull-right
        button.btn.btn-secondary.btn-xs(type="button", (click)="sort('percent', true)", [class.active]="is_sorting('percent', true)")
          i.fa.fa-chevron-down

        button.btn.btn-secondary.btn-xs(type="button", (click)="sort('percent', false)", [class.active]="is_sorting('percent', false)")
          i.fa.fa-chevron-up

  tbody
    tr
      td.font-weight-bold {{ overall?.project.name }}
      td.font-weight-bold {{ value(overall?.value) | number: '1.2-2' }}
      td.font-weight-bold {{ overall?.percent | percent: '1.2-2' }}

    tr(*ngFor="let r of rows")
      td {{ r.project.name }}
      td {{ value(r.value) | number: '1.2-2' }}
      td {{ r.percent | percent: '1.2-2' }}
